#createAnAccountContainer {
    width: 100%;
    height: 100vh;

    display: none;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 100;

    background: rgba(0, 0, 0, 0.8);
}

#createAnAccountContent {
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: column;

    position: relative;

    padding: 1rem;
    border-radius: 0.5rem;

    color: rgb(255, 255, 255);
    box-shadow: 0 0 0.5rem 0 rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0);
}

#createAnAccountContent h2 {
    font-family: "Kalam", Arial, sans-serif;
}

#createAnAccountContent label {
    font-size: 1.1rem;
    margin: 1rem 0 0.3rem 0;
}

#createAnAccountContent input {
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#btn-register {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;

    font-size: 1.2rem;
    margin: 1.5rem 0 0 0;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
}

#btn-register:hover {
    transition: .3s;
    background: rgb(255, 255, 255, 0.5);
}

#login {
    text-align: center;
    margin: 0.8rem 0 0 0;
}

#login a {
    font-weight: 600;
    padding: 0 0.4rem;

    border-bottom: 2px solid transparent;
    color: rgb(50, 169, 244);
}

#login a:hover {
    transition: .3s;
    border-bottom: 2px solid rgba(29, 29, 221, 0.4);
}